@import url(https://fonts.googleapis.com/css?family=Special Elite);
@import url(https://fonts.googleapis.com/css?family=Nixie One);


* {

  padding: 0;
  margin: 0;
}



body {
  background-color: #faf0fa;
 /* background: url(../images/IMG_4377.JPG);*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  line-height: 1.8;
}

#two_column {
 /* background-color: #FFB7CF;*/
  /*border: 1px black solid;*/
  width: 100%;
}

.header {

  /*background-color: #FFED74;*/
  /*border: 1px black solid;*/
  /*display: inline-flex;*/

}

#left {
  /*background-color: violet;*/
  /*border: 1px black solid;*/
  padding: 7%;
  float: left;
  width: 27%;
  /*margin: 10px;*/
  /*display: inline-flex;*/
  line-height: 1.8;
  letter-spacing: 10px;
  /*text-align: center;*/
  display: inline;
}

h1 {

  font-family: sans-serif;
  letter-spacing: 10px;
  font-size: 38px;
  font-weight: lighter;
  padding: .25%;
  /*text-align: center;*/
  line-height: 3em;

}

img {
  border: 0px;
  display: inline;
  /*display: inline-flex;*/
  /*margin: 0 auto;*/
  padding: .5%;
  margin: 2.5%;
}

img.resize {
  width: 19%;
  height: auto;

}

.featured_photos {

  width: 15%;
  height: auto;

}



.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

}



#right {
  background-color: pink;
  /*border: 1px black solid;*/
  padding: 1%;
  float: right;
  width: 5%;
  display: inline;
  /*margin:0 auto;*/
}



.section {

/*background-color: #FDF8FF;*/
/*border: 1px black solid;*/
padding: 1%;
max-width: 100%;
font-style: normal;
letter-spacing: 10px;
text-align: center;

}

.article {


/*border: 1px black solid;*/
padding: 1.0%;
letter-spacing: 6px;
}

#slogan {
  background-color: #D8BFD8;
  max-width: 100%;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  letter-spacing: 9px;
  padding: 1.4%;
}

p {

max-width: 35%;
margin: 0 auto;
/*padding: .10%;*/
font-size: 16px;
font-family: sans-serif;
font-style: normal;
font-weight: lighter;
text-align: center;
letter-spacing: 3px;
line-height: 2;


}


h2 {
background-color: #EED2EE;
font-size: 18px;
letter-spacing: 7px;
word-spacing: 8px;
text-align: center;
font-family: sans-serif;
/*font-style: italic;*/
/*font-style: normal;*/
font-weight: lighter;
line-height: 1.5;
padding: 1%;

}

h2 p {

  max-width: 80%;
}

/*ul {
  line-height: 1.8;
  font-family: sans-serif;
  text-align: center;
  display: inline;
  text-decoration: none;
  font-weight: lighter;
  padding: 10px;*/
  /*margin: 0 auto;*/
  /*padding-left: 200px;
  margin-right: 0px;*/

}

.social_links a{

 /* background-color: #E8C66A;*/
 /* border: 1px black solid;*/
  /*display: inline;*/
  width: 90%



}

.social_links img{
  border: 0px;
  text-align: center;
  /*margin: 0 auto;*/
  margin: 10px;
  float: right;
  
}



.footer {
/*  padding: 1%;*/
  text-align: center;
  font-weight: lighter;
  font-family: 'Nixie One';
  font-size: 18px;
  letter-spacing: 4px;
 /* background-color: #FF957E;*/
  /*border: 1px black solid;*/
 

}

a {

/*  text-decoration: underline;*/
  /*text-decoration-style: dashed;
  color: black;*/
}
